<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
</head>
<body>
    <div class="content">
        ### CONTENT ###
    </div>
    <div class="default">
        <hr>
        <p>
            <a href="{{ Domain }}/unsubscribe?email={{ Email }}&newsletter_id={{ ID }}">Click here to unsubscribe from the newsletter</a>
        </p>
        <a href="https://github.com/and3rcg">My GitHub</a>
    </div>
</body>
</html>
